*{
    margin: 0px;
    padding: 0px;

}

body{
    background-image: url('img/background-ecoxperience-vertical-1080x1920-green.png'); 
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contenedor principal del video y el section */
.video-container {
    position: relative;
  }
  
  /* Estilos del video */
  #myVideo {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Estilos para la versión desktop */
.desktop-video {
    display: block; /* Mostrar el video desktop por defecto */
  }
  
  /* Estilos para la versión móvil */
  .mobile-video {
    display: none; /* Ocultar el video móvil por defecto */
  }
  
  /* Estilos del section superpuesto */
  .overlay-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para mayor visibilidad */
    color: white; /* Color del texto */
    margin-bottom: 85px;
  }
  

.cont-temporizador{
    display: flex;
    justify-content: center;
}

.cont-temporizador .bloque{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-temporizador .bloque div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 18px;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #00f2ff; /* Borde azul */
    border-radius: 50%;
    box-shadow: 0 0 1px #a4f1ff, 0 0 2px #85ffff, 0 0 4px #00a6ff, 0 0 6px #d1f1ff;
    animation: neon-animation 1s ease-in-out infinite alternate;
}

@keyframes mi-animacion {
    /* Define las etapas de la animación aquí */
}

.cont-temporizador .bloque div {
    animation: mi-animacion 2s ease-in-out infinite;
    /* Aplica la animación a los elementos que coinciden con la selección */
}

.cont-temporizador .bloque p{
    color: aliceblue;
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}





/* Estilos para pantallas grandes (por ejemplo, computadoras de escritorio) */
@media (min-width: 917px) {
    video {
      width: 100%; /* Ancho completo */
      height: auto; /* Altura automática para mantener la relación de aspecto original */
    }
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 916px) {
    video {
      width: auto; /* Ancho automático para ajustar al contenedor */
      max-width: 100%; /* Máximo ancho para mantener la legibilidad */
      height: 100vh; /* Altura completa de la pantalla */
    }
  }

/* Media query para pantallas con un ancho máximo de 767px (tamaño de pantalla móvil) */
@media (max-width: 916px) {
    .desktop-video {
      display: none; /* Ocultar el video desktop en pantallas móviles */
    }
    .mobile-video {
      display: block; /* Mostrar el video móvil en pantallas móviles */
    }
  }
  